.card {
  width: 300px;
  /* border: 1px solid #ccc; */
  /* border-radius: 8px; */
  overflow: hidden;
  position: relative;
  background-color: #2a2b2e;
}

.imageWrapper {
  position: relative;
  height: 200px;
}

.info {
  padding: 16px;
}

.title {
  font-size: 18px;
  margin: 0;
  margin-bottom: 8px;
}

.phoneNumber {
  margin: 0;
  margin-bottom: 16px;
}

.locationButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
