/* ContactInfo.module.css */
.container {
    background-color: #1B1C1F;
    color: white;
    border-radius: 8px;
    padding: 15px;
    width: 700px; /* or any width you prefer */
    margin-top: 50px;
    margin-left: 20px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  
  .item {
    display: flex;
    align-items: center;
    width: 60%; /* Adjust based on your preference */
    
  }
  
  .icon {
    margin-right: 10px;
  }
  