/* React Big Calendar Custom Styles */

/* Base Color */
.rbc-calendar {
    background-color: #25282d;
}

/* Accent Color */
.rbc-event {
    background-color: #b93077;
    border: 1px solid #b93077;
    color: white;
}

.rbc-event:hover {
    background-color: #f250a3;
    border-color: #f250a3;
}

/* Header Color */
.rbc-toolbar {
    background-color: #25282d;
    color: white;
}

.rbc-btn-group button {
    color: white;
}

/* Event Slot Background Color */
.rbc-slot-selecting {
    background-color: rgba(185, 48, 119, 0.5);
}
